@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
    min-width: 320px;
  }

  button,
  a {
    touch-action: manipulation;
  }
}
